@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var root = Model.Content.AncestorOrSelf(1);
}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@Model.Content.Name</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="//use.typekit.net/xyk4lkn.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Merriweather:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="~/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
	
	@Html.Partial("Header", root)

	<section class="site-extra">
		@Html.Partial("SimpelSlideshow")
	</section>

	@RenderSection("PromotePages", false)

	<main class="site-main">
		<div class="container">
			@RenderBody()
		</div>
	</main>

	<footer class="site-footer">
		<div class="container">

		</div>
	</footer>

	<script src="~/scripts/jquery-2.0.3.js"></script>
	<script src="~/scripts/bootstrap.min.js"></script>
	<script src="~/scripts/less-1.4.2.js"></script>
	<script src="~/scripts/unislide.js"></script>
	<script src="~/scripts/main.js"></script>
</body>
</html>